.pull-right {
  font-size: 22px;
  position: absolute;
  right: 20px;
  margin-top: 5px;
}
.page-header span {
  font-size: 22px;
}
.reply {
  font-size: 12px;
  position: absolute;
  left: 170px;
  top: 24px;
  font-style: inherit;
}
.commentReply {
  margin-left: 100px;
}
.avatar {
  position: absolute;
  left: 98px;
  top: 4px;
}
.avatar img {
  width: 37px;
}
.avatarRely img {
  width: 37px;
  position: absolute;
  left: 200px;
}
//.avatarRely {
//  position: absolute;
//  left: 200px;
//  top: 71px;
//}
