<div *ngIf="info.token; else loggedOut">
  <h2 class="text-center">Write Blog</h2>
<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">

  <div class="form-group">
    <label for="title">Title</label>
    <ckeditor id="title" formControlName="title"></ckeditor>
  </div>
  <div *ngIf="blogForm.get('title').invalid && blogForm.get('title').touched" style="color: red">
    The title section must not be blank and have a minimum length of 2
  </div>

  <div class="form-group">
    <label for="content">Content</label>
<!--    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="content"></textarea>-->
    <ckeditor  formControlName="content" id="content" class="content"></ckeditor>
  </div>
  <div *ngIf="blogForm.get('content').invalid && blogForm.get('content').touched" style="color: red">
    The content section must not be blank and have a minimum length of 2
  </div>

  <input class="btn btn-primary" type="submit" value="Add">
</form>
</div>

<ng-template #loggedOut>
  <strong>Please Login!!!</strong>
  <a class="btn btn-primary" href="auth/login">Login</a>
</ng-template>
