<div *ngIf="info.token; else loggedOut">

<h2 class="text-center">Chỉnh Sửa Blog</h2>
<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <ckeditor id="exampleFormControlInput1" formControlName="title"> </ckeditor>
  </div>
  <div *ngIf="blogForm.get('title').invalid && blogForm.get('title').touched" style="color: red">
    Phần tiêu đề không được để trống và có chiều dài tối thiểu là 2
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Nội Dung</label>
    <ckeditor  id="exampleFormControlTextarea1" rows="3" formControlName="content"></ckeditor>
  </div>
  <div *ngIf="blogForm.get('content').invalid && blogForm.get('content').touched" style="color: red">
    Phần nội dung không được để trống và có chiều dài tối thiểu là 2
  </div>

  <input class="btn btn-primary" type="submit" value="Update">
</form>
</div>

<ng-template #loggedOut>
  <strong>Please Login!!!</strong>
  <a class="btn btn-primary" href="auth/login">Login</a>
</ng-template>

