<!--<div *ngIf="info.token; else loggedOut">-->
  <h2 class="text-center">Creat Album Image</h2>
  <form [formGroup]="albumForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div *ngIf="albumForm.get('title').invalid && albumForm.get('title').touched" style="color: red">
      The title is required
    </div>

    <div>
      <label>Select Img</label><br>
      <input type="file" (change)="selectFile($event)" multiple>
    </div>

    <input class="btn btn-primary" type="submit" value="Add" style="margin-top: 20px">
  </form>
<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--  <strong>Please Login!!!</strong>-->
<!--  <a class="btn btn-primary" href="auth/login">Login</a>-->
<!--</ng-template>-->

<!--    <div>-->
<!--      <label for="listImg">Select Img</label><br>-->
<!--      <input type="file" (change)="selectFile($event)" id="listImg" multiple>-->
<!--    </div>-->
<!--    <input class="btn btn-primary" type="submit" value="Add" style="margin-top: 20px" (click)="onSubmit()">-->
