  <div *ngIf="isSignedUp; else signupForm">
  <app-login></app-login>
</div>
<style>
  .signup-image a:hover {
    color: #6dabe4;
  }
</style>
<ng-template #signupForm>
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
          <h2 class="form-title">Sign up</h2>
          <form method="POST" class="register-form" id="register-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

            <div class="form-group">
              <label for="name"><i class="far fa-grin-beam"></i></label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" [(ngModel)]="form.name" #name="ngModel" required/>
              <div *ngIf="f.submitted && name.invalid" style="color: red">
                <div *ngIf="name.errors.required">Name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="username"><i class="fas fa-user"></i></label>
              <input type="text" name="username" id="username" class="form-control" placeholder="UserName" [(ngModel)]="form.username" #username="ngModel" required/>
              <div *ngIf="f.submitted && username.invalid" style="color: red">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="email"><i class="far fa-envelope"></i></label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Your Email"  [(ngModel)]="form.email" #email="ngModel" required email />
              <div *ngIf="f.submitted && email.invalid" style="color: red">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group">
              <label for="password"><i class="fas fa-lock"></i></label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="form.password" #password="ngModel" required minlength="6"/>
              <div *ngIf="f.submitted && password.invalid" style="color: red">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <!--          <div class="form-group">-->
            <!--            <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>-->
            <!--            <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>-->
            <!--          </div>-->
<!--            <div class="form-group">-->
<!--              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />-->
<!--              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>-->
<!--            </div>-->
            <div class="form-group form-button">
              <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
              <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning" style="margin-top: 25px">
                {{errorMessage}}
              </div>
            </div>
          </form>
        </div>
        <div class="signup-image">
          <figure><img src="https://i.ibb.co/DK4tWXF/signup-image.jpg" alt="sing up image"></figure>
              <a href="auth/login" class="signup-image-link">
                <h6>I am already member</h6>
              </a>
        </div>
      </div>
    </div>
  </section>
</ng-template>



